<p-card header="Student Registration Form">
  <form [formGroup]="studentForm" (ngSubmit)="submit()">
    <div class="p-fluid p-formgrid p-grid">
      <!-- First Name -->
      <div class="p-field p-col-12 p-md-4">
        <input
          pInputText
          placeholder="First Name"
          formControlName="firstName"
        />
        @if (studentForm.get('firstName')?.touched &&
        studentForm.get('firstName')?.invalid) {
        <small class="p-error">First Name is required (min 2 characters)</small>
        }
      </div>

      <!-- Middle Name -->
      <div class="p-field p-col-12 p-md-4">
        <input
          pInputText
          placeholder="Middle Name"
          formControlName="middleName"
        />
      </div>

      <!-- Last Name -->
      <div class="p-field p-col-12 p-md-4">
        <input pInputText placeholder="Last Name" formControlName="lastName" />
        @if (studentForm.get('lastName')?.touched &&
        studentForm.get('lastName')?.invalid) {
        <small class="p-error">Last Name is required (min 2 characters)</small>
        }
      </div>

      <!-- DOB -->
      <div class="p-field p-col-12 p-md-6">
        <p-calendar
          [defaultDate]="today"
          formControlName="dob"
          [showIcon]="true"
          dateFormat="dd-M-yy"
        >
        </p-calendar>
        @if (studentForm.get('dob')?.touched && studentForm.get('dob')?.invalid)
        {
        <small class="p-error">Date of Birth is required</small>
        }
      </div>

      <!-- Student ID -->
      <div class="p-field p-col-12 p-md-6">
        <input
          pInputText
          placeholder="Student ID"
          formControlName="studentId"
        />
        @if (studentForm.get('studentId')?.touched &&
        studentForm.get('studentId')?.invalid) {
        <small class="p-error">Student ID is required</small>
        }
      </div>

      <!-- Email -->
      <div class="p-field p-col-12 p-md-6">
        <input
          pInputText
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        @if (studentForm.get('email')?.touched &&
        studentForm.get('email')?.invalid) {
        <small class="p-error">Enter a valid email</small>
        }
      </div>

      <!-- Course -->
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          formControlName="course"
          [options]="courses"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Course"
        >
        </p-dropdown>
        @if (studentForm.get('course')?.touched &&
        studentForm.get('course')?.invalid) {
        <small class="p-error">Please select a course</small>
        }
      </div>
    </div>

    <div class="p-mt-3">
      <button
        pButton
        type="submit"
        [label]="isEditMode ? 'Update' : 'Submit'"
        [disabled]="studentForm.invalid"
      ></button>

      <button
        pButton
        type="button"
        label="Reset"
        class="p-button-secondary p-ml-2"
        (click)="reset()"
      ></button>

      @if (isEditMode) {
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-secondary p-ml-2"
        (click)="reset()"
      ></button>
      }
    </div>
  </form>
</p-card>

<!-- @if (students.length > 0) {
  <div class="p-mt-4">
    <h3>Registered Students</h3>
    @for (student of students; track student; let i = $index) {
      <div class="p-mb-3">
        <app-student-details
          [student]="student"
          (edit)="editStudent(student, i)">
        </app-student-details>
      </div>
    }
  </div>
} -->

<app-student-details></app-student-details>
